<h1> Welcome</h1>

<%= link_to '<button type="button">List all authors</button>'.html_safe, authors_path %>
<%= link_to '<button type="button">List all Books</button>'.html_safe, books_path %>
<%= link_to '<button type="button">new author</button>'.html_safe, new_author_path %>
<%= link_to '<button type="button">new book</button>'.html_safe, new_book_path %>